/* index principal */
.conteiner-principal  {
  background-image: url(../img/spacejoy-9M66C_w_ToM-unsplash.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  a:hover{
    color: chocolate;
    transition: all 2s;
  }
  
  .principal  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: auto;
    align-items: center;
    text-align: center;
      
    h1  {
      color: $underline;
      font-size: 4rem;
      font-style: italic;
      text-align: center;
      padding: 5px;
    }
  
    a {
      font-size: 1.5rem;
      text-decoration: none;
      transition: all 1s;
      color: $ya;
      &:hover {
        color: black;
        transition: all 1s;
        background-color: $bg;
        padding: 5px;
        border-radius: 10%;
      }
    }
  
  }
}
    


  