/* Secciones del index y main de Productos */
.sect-conteiner  {
     background-color:$bg ;
    .section-one {
      @include section
      
    } 
    
    .section-two  {
     
      @include section
    }

    h2  {
      text-decoration: underline;
      font-weight: 600;
      font-style: italic;
      color: $txt;
      padding-bottom: 20px;
      font-size: 2rem;
    }

    p {
      font-style: italic;
      color: $underline;
      font-size: 1rem;
    }  

/* imagenes */
    .img-item {
      display: flex;
      justify-content: space-evenly;
      margin-top: 20px;
      padding: 15px;
      gap: 8px;
      .capa-img {
        position: relative;
        overflow: hidden;
        border-radius: 4%;
        box-shadow: 0 15px 25px rgba(0,0,0,0.50);
      & img {
        max-width: 100%;
        height: 100%;
        transition: all 500ms ease-out;
        border-radius: 4%;
      }
      
      & .subtitulo-item  {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #f2f2f2b6;
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: rgb(155, 101, 63);
      }
  
      &:hover .subtitulo-item {
        opacity: 1;
        visibility: visible;
      }
  
      &:hover img {
        padding: 3%;
        transition: all 1s ease-out;
    
      }
      
      h4  {
        font-size:  20px;
      }
    }  
  }
}

/* Servicio */

.main-service {
  text-align: center;
  background: linear-gradient($txt,$ya,$colors)
}

.main-h1  {
  padding: 50px 0px;
  h1  {
    color: $underline;
    text-decoration: underline;
    font-style: italic;
  }

}
.conteiner-service  {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.service-img  {
  padding: 5px  30px;
  display: flex;
  justify-content: center;
  img {
    height: 300px;
    width: 300px;
    border-radius: 10%;
    box-shadow: 0 15px 25px rgba(0,0,0,0.50);
  }
  
}

.service-subtitulo  {
  padding: 5px  30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2  {
    font-size: 2rem;
    color: $underline
  }
  p {
    color: $txt;
  }
}

.cont-main  {
  background: linear-gradient(35deg,$colors,$txt);
  
}

.link {
  display: flex;
  img {
    height: 40px;
  }
  
}
  
  


    
      
      
      
      